In [26]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_score, recall_score, f1_score
from imblearn.over_sampling import RandomOverSampler
from sklearn.linear_model import LogisticRegression, RidgeClassifier, SGDClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier, AdaBoostClassifier, HistGradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import VotingClassifier, BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression, RidgeClassifier, SGDClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier, AdaBoostClassifier, HistGradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier


# Read Data Set

In [2]:
data = pd.read_csv('healthcare-dataset-stroke-data 2.csv')
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
data['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [6]:
data['bmi'].value_counts()

28.7    41
28.4    38
26.7    37
27.6    37
26.1    37
        ..
48.7     1
49.2     1
51.0     1
49.4     1
14.9     1
Name: bmi, Length: 418, dtype: int64

In [7]:
data=data.dropna()

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4909 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4909 non-null   int64
 1   gender             4909 non-null   object
 2   age                4909 non-null   float64
 3   hypertension       4909 non-null   int64
 4   heart_disease      4909 non-null   int64
 5   ever_married       4909 non-null   object
 6   work_type          4909 non-null   object
 7   Residence_type     4909 non-null   object
 8   avg_glucose_level  4909 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     4909 non-null   object
 11  stroke             4909 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 498.6+ KB

In [9]:
import pandas as pd

dummies = pd.get_dummies(data['ever_married'], prefix='category')

data = pd.concat([data, dummies], axis=1)

data.drop('ever_married', axis=1, inplace=True)

data.head()

,id,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,category_No,category_Yes
0,9046,Male,67.0,0,1,Private,Urban,228.69,36.6,formerly smoked,1,0,1
2,31112,Male,80.0,0,1,Private,Rural,105.92,32.5,never smoked,1,0,1
3,60182,Female,49.0,0,0,Private,Urban,171.23,34.4,smokes,1,0,1
4,1665,Female,79.0,1,0,Self-employed,Rural,174.12,24.0,never smoked,1,0,1
5,56669,Male,81.0,0,0,Private,Urban,186.21,29.0,formerly smoked,1,0,1

In [10]:
import pandas as pd

dummies = pd.get_dummies(data['gender'], prefix='category')

data = pd.concat([data, dummies], axis=1)

data.drop('gender', axis=1, inplace=True)

data.head()

,id,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,category_No,category_Yes,category_Female,category_Male,category_Other
0,9046,67.0,0,1,Private,Urban,228.69,36.6,formerly smoked,1,0,1,0,1,0
2,31112,80.0,0,1,Private,Rural,105.92,32.5,never smoked,1,0,1,0,1,0
3,60182,49.0,0,0,Private,Urban,171.23,34.4,smokes,1,0,1,1,0,0
4,1665,79.0,1,0,Self-employed,Rural,174.12,24.0,never smoked,1,0,1,1,0,0
5,56669,81.0,0,0,Private,Urban,186.21,29.0,formerly smoked,1,0,1,0,1,0

In [11]:
import pandas as pd

dummies = pd.get_dummies(data['work_type'], prefix='category')

data = pd.concat([data, dummies], axis=1)

data.drop('work_type', axis=1, inplace=True)

data.head()

,id,age,hypertension,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,category_No,category_Yes,category_Female,category_Male,category_Other,category_Govt_job,category_Never_worked,category_Private,category_Self-employed,category_children
0,9046,67.0,0,1,Urban,228.69,36.6,formerly smoked,1,0,1,0,1,0,0,0,1,0,0
2,31112,80.0,0,1,Rural,105.92,32.5,never smoked,1,0,1,0,1,0,0,0,1,0,0
3,60182,49.0,0,0,Urban,171.23,34.4,smokes,1,0,1,1,0,0,0,0,1,0,0
4,1665,79.0,1,0,Rural,174.12,24.0,never smoked,1,0,1,1,0,0,0,0,0,1,0
5,56669,81.0,0,0,Urban,186.21,29.0,formerly smoked,1,0,1,0,1,0,0,0,1,0,0

In [12]:
import pandas as pd

dummies = pd.get_dummies(data['Residence_type'], prefix='category')

data = pd.concat([data, dummies], axis=1)

data.drop('Residence_type', axis=1, inplace=True)

data.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,smoking_status,stroke,category_No,category_Yes,category_Female,category_Male,category_Other,category_Govt_job,category_Never_worked,category_Private,category_Self-employed,category_children,category_Rural,category_Urban
0,9046,67.0,0,1,228.69,36.6,formerly smoked,1,0,1,0,1,0,0,0,1,0,0,0,1
2,31112,80.0,0,1,105.92,32.5,never smoked,1,0,1,0,1,0,0,0,1,0,0,1,0
3,60182,49.0,0,0,171.23,34.4,smokes,1,0,1,1,0,0,0,0,1,0,0,0,1
4,1665,79.0,1,0,174.12,24.0,never smoked,1,0,1,1,0,0,0,0,0,1,0,1,0
5,56669,81.0,0,0,186.21,29.0,formerly smoked,1,0,1,0,1,0,0,0,1,0,0,0,1

In [13]:
import pandas as pd

dummies = pd.get_dummies(data['smoking_status'], prefix='category')

data = pd.concat([data, dummies], axis=1)

data.drop('smoking_status', axis=1, inplace=True)

data.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,category_No,category_Yes,category_Female,...,category_Never_worked,category_Private,category_Self-employed,category_children,category_Rural,category_Urban,category_Unknown,category_formerly smoked,category_never smoked,category_smokes
0,9046,67.0,0,1,228.69,36.6,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0
2,31112,80.0,0,1,105.92,32.5,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
3,60182,49.0,0,0,171.23,34.4,1,0,1,1,...,0,1,0,0,0,1,0,0,0,1
4,1665,79.0,1,0,174.12,24.0,1,0,1,1,...,0,0,1,0,1,0,0,0,1,0
5,56669,81.0,0,0,186.21,29.0,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0

In [16]:
data.to_csv('Clean_Data_stroke', index=False)

In [14]:
x = data.drop(['stroke','id'],axis=1)
y = data['stroke']
x.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,category_No,category_Yes,category_Female,category_Male,category_Other,...,category_Never_worked,category_Private,category_Self-employed,category_children,category_Rural,category_Urban,category_Unknown,category_formerly smoked,category_never smoked,category_smokes
0,67.0,0,1,228.69,36.6,0,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,0,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,0,1,1,0,0,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,0,1,0,1,0,...,0,1,0,0,0,1,0,1,0,0

In [17]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(x)
scaled_data = pd.DataFrame(scaled_data, columns=x.columns)
scaled_data.head()
y.value_counts()

0    4700
1     209
Name: stroke, dtype: int64